#grid-container {
    display: grid;
    grid-template-columns: minmax(auto, 340px) auto;
    grid-template-rows: auto 100px;
    grid-template-areas:"filter series-list"
                        "filter pagination"
}  

.series-list {
    grid-area: series-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
    margin: 20px 0px;
}

.filter {
    grid-area: filter;
    background-color: rgb(245, 241, 252);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
    margin: 20px;
    padding: 0px 20px;
}

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
}