.app {
    min-height: 100vh; // 100% of the viewport height, regardless of the content height
    background-color: #ffffff;
    color: black;
    padding-top: 150px;
    padding-bottom: 100px; 
  }
  