.app {
    /* 100% of the viewport height, regardless of the content height */
    min-height: 100vh; 
    background-color: #ffffff;
    color: black;
    padding-top: 90px;
    margin: 0px 100px;
    text-align: center;
  }
  