.top-nav {
  margin: 0px 100px 0px 0px;
}

.top-nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-nav-li {
  float: left;
  font-size: 20px;
}

.top-nav-li a {
  display: flex;
  flex-direction: row;
  /* prevent wrapping text on new line */
  white-space: nowrap;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.icon {
  vertical-align: text-bottom;
  margin-right: 2px;
}
