.trending-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
    margin: 20px 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 22px 0px;
}