.modal-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  color: white;
  display: flex;
  overflow-y: scroll;
}

.modal-background-dark-overlay {
  background-color:rgba(0, 0, 0, 0.6); 
  overflow-y: scroll;
}

.content {
  margin: 70px;
}

.rating-score {
  margin-left: 20px;
}

.overview-trailer {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
}

.overview-title {
  margin-top: 180px;
}

.overview-detail {
  width: 70%;
}

.trailer-button {
  width: 20%;
  height: 60px;
}

.modal-content-cast-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
}

.watch-provider-logo {
  width: 70px;
  border-radius: 20%;
  margin-right: 10px;
}