.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding: 0 2px;
}

.single-content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
  margin: 0px;
}

/* // overlay effect on card*/
.add-to-favorite {
  border: 1px black;
  /* // add some shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  transition: transform 0.2s;
  text-align: center;
}

.add-to-favorite:hover {
  transform: scale(1);
  cursor: pointer;
}

/* .add-to-favorite:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  bottom: 0;
  padding: 20px;
} */
