#grid-container {
    display: grid;
    grid-template-columns: minmax(auto, 280px) auto;
    grid-template-rows: auto 100px;
    grid-template-areas:"filter series"
                        "filter pagination"
}    

.movies {
    grid-area: series;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
    margin: 20px 0px;
}

.filter {
    grid-area: filter;
    text-align: left;
    background-color: rgb(250, 245, 254);
    margin: 20px;
    padding: 0px 20px;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
    padding: 22px 0px;
}