.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
    margin: 20px 0px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 4px;
    margin: 20px 0px;
}