/* header section */
.header {
    background-color: #5e548e;
    width:100%;
    color: #ffffff;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 10px;

    /* fixed position and add some border shadow */
    position: fixed; 
    box-shadow: 0px 1px 5px black;
    text-transform: uppercase;

    /* flex box centered */
    display: flex;
    justify-content: center;

    z-index: 100;

}
