/* header section */
.header {
    background-color: #5e548e;
    width:100%;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 0px;

    /* fixed position when scrolling */
    position: fixed; 

    /* on top of everything else */
    z-index: 100;

    display: flex;
    justify-content: flex-start;
}

.website-name {
    margin-left: 100px;
    font-size: 52px;
    font-weight: bold;
}
